{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <div class="example-wrapper">
        <div class="container">
            <h3>Редагувати пост</h3>
            {{ form_start(form) }}
{#            {% if form.image.vars.data %}#}
{#                <img src="{{ asset('/uploads/images/posts/' ~ form.image.vars.data) }}"/>#}
{#                {{ form_widget(post.image) }}#}
{#            {% endif %}#}
            {{ form_widget(form) }}
            {{ form_end(form) }}
{#            {% include 'post/_form.html.twig' with {'button_label': 'Обновити пост', 'button_color': 'btn-outline-success'} %}#}
        </div>
    </div>
{% endblock %}